<template>
    <app-layout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Ventas
            </h2>
        </template>
        <div class="row">
            <div class="py-12">
                <div class="max-w-2xl mx-auto sm:px-6 lg:px-8">
                    <!-- <pre>{{ sale }}</pre> -->
                    <div class="p-6 bg-white border-b border-gray-200">
                        <div>
                            <label for="name" class="font-bold"
                                >Vendedor:
                            </label>
                            <label for="name">{{ sale.adviser }}</label>
                        </div>
                        <div>
                            <label for="email" class="font-bold"
                                >Producto vendido:
                            </label>
                            <label for="email">{{ sale.product }}</label>
                        </div>
                        <div>
                            <label for="email" class="font-bold"
                                >Codigo:
                            </label>
                            <label for="email">{{ sale.code }}</label>
                        </div>
                    </div>
                    <div
                        class="bg-white overflow-hidden shadow-xl sm:rounded-lg px-4 py-4"
                    >
                        <table class="table-auto w-full">
                            <thead>
                                <tr class="bg-gray-100">
                                    <th class="px-4 py-2 w-20">No.</th>
                                    <th class="px-4 py-2">Asesores</th>
                                    <th class="px-4 py-2">Email</th>
                                    <th class="px-4 py-2">Codigo</th>
                                    <th class="px-4 py-2">
                                        Comision por venta
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    v-for="row in items"
                                    :key="row.id"
                                    :row="row"
                                >
                                    <td class="border px-4 py-2">
                                        {{ row.id }}
                                    </td>
                                    <td class="border px-4 py-2">
                                        {{ row.name }}
                                    </td>
                                    <td class="border px-4 py-2">
                                        {{ row.email }}
                                    </td>
                                    <td class="border px-4 py-2">
                                        {{ row.code }}
                                    </td>
                                    <td class="border px-4 py-2">
                                        {{ row.commission }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="p-6 bg-white border-gray-200 text-right">
                        <!-- button link -->
                        <inertia-link
                            class="bg-green-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded my-3"
                            :href="route('sales.index')"
                        >
                            Volver
                        </inertia-link>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="grid grid-cols-3 gap-4"></div>
        </div>
    </app-layout>
</template>

<script>
import AppLayout from "@/Layouts/AppLayout";

export default {
    data() {
        return {
            desc: "desc",
            sortField: "commission"
        };
    },
    components: {
        AppLayout
    },
    props: {
        sale: {
            type: Object,
            default: () => {
                [];
            },
            required: true
        }
    },
    computed: {
        items() {
            return _.orderBy(this.sale.advisers, this.sortField, this.desc);
        }
    }
};
</script>
