<template>
    <app-layout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Advisers
            </h2>
        </template>
        <div class="row">
            <div class="py-12">
                <div class="max-w-2xl mx-auto sm:px-6 lg:px-8">
                    <div class="p-6 bg-white border-b border-gray-200">
                        <div>
                            <label for="name" class="font-bold">Name: </label>
                            <label for="name">{{ adviser.name }}</label>
                        </div>
                        <div>
                            <label for="email" class="font-bold">Email: </label>
                            <label for="email">{{ adviser.email }}</label>
                        </div>
                        <div>
                            <label for="code" class="font-bold">Codigo: </label>
                            <label for="code">{{ adviser.code }}</label>
                        </div>
                    </div>
                    <div class="p-6 bg-white border-gray-200 text-right">
                        <!-- button link -->
                        <inertia-link
                            class="bg-green-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded my-3"
                            :href="route('advisers.index')"
                        >
                            Volver
                        </inertia-link>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="grid grid-cols-3 gap-4"></div>
        </div>
    </app-layout>
</template>

<script>
import AppLayout from "@/Layouts/AppLayout";

export default {
    components: {
        AppLayout
    },
    props: {
        adviser: {
            type: Object,
            default: () => {
                [];
            },
            required: true
        }
    }
};
</script>
