@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.p-4.py-6.text-white.bg-blue-500.md\:w-80.md\:flex-shrink-0.md\:flex.md\:flex-col.md\:items-center.md\:justify-evenly {
    background: url('/img/handerr.png');
    background-size: contain;
    background-position-x: center;
    background-repeat: no-repeat;
    background-position-y: center;
}
img.img-logo {
    width: 30%;
    margin: auto;
}