<template>
    <app-layout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Productos - listado
            </h2>
        </template>
        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div
                    class="bg-white overflow-hidden shadow-xl sm:rounded-lg px-4 py-4"
                >
                    <div class="grid grid-cols-3 gap-4">
                        <div
                            class="form-group-row flex lg:mt-0 lg:flex-shrink-0"
                        >
                            <button
                                @click="openModal()"
                                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded my-3"
                            >
                                Crear nuevo producto
                            </button>
                        </div>
                    </div>
                    <table class="table-auto w-full">
                        <thead>
                            <tr class="bg-gray-100">
                                <th class="px-4 py-2 w-20">No.</th>
                                <th class="px-4 py-2">Nombre</th>
                                <th class="px-4 py-2">Precio</th>
                                <th class="px-4 py-2">Nivel 0</th>
                                <th class="px-4 py-2">Nivel 1</th>
                                <th class="px-4 py-2">Nivel 2</th>
                                <th class="px-4 py-2">Nivel 3</th>
                                <th class="px-4 py-2">Nivel 4</th>
                                <th class="px-4 py-2">Nivel 5</th>
                                <th class="px-4 py-2">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                v-for="row in products"
                                :key="row.id"
                                :row="row"
                            >
                                <td class="border px-4 py-2">{{ row.id }}</td>
                                <td class="border px-4 py-2">
                                    {{ row.name }}
                                </td>
                                <td class="border px-4 py-2">
                                    {{ row.price }}
                                </td>
                                <td class="border px-4 py-2 text-center">
                                    {{ row.commissions.level0 }}
                                </td>
                                <td class="border px-4 py-2 text-center">
                                    {{ row.commissions.level1 }}
                                </td>
                                <td class="border px-4 py-2 text-center">
                                    {{ row.commissions.level2 }}
                                </td>
                                <td class="border px-4 py-2 text-center">
                                    {{ row.commissions.level3 }}
                                </td>
                                <td class="border px-4 py-2 text-center">
                                    {{ row.commissions.level4 }}
                                </td>
                                <td class="border px-4 py-2 text-center">
                                    {{ row.commissions.level5 }}
                                </td>
                                <td class="border px-4 py-2">
                                    <button
                                        @click="edit(row)"
                                        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 mx-1 px-4 rounded"
                                    >
                                        Edit
                                    </button>
                                    <inertia-link
                                        class="bg-green-500 hover:bg-green-700 text-white font-bold mx-1 py-2 px-4 rounded"
                                        :href="route('products.show', row.id)"
                                    >
                                        Show
                                    </inertia-link>
                                    <button
                                        @click="deleteRow(row)"
                                        class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 mx-1 px-4 rounded"
                                    >
                                        Delete
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="flex mt-2 xs:mt-0 justify-end">
                        <button @click="prevPage">Previous</button>
                        <button @click="nextPage">Next</button>
                    </div>
                    <div
                        class="fixed z-10 inset-0 overflow-y-auto ease-out duration-400"
                        v-if="isOpen"
                    >
                        <div
                            class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0"
                        >
                            <div class="fixed inset-0 transition-opacity">
                                <div
                                    class="absolute inset-0 bg-gray-500 opacity-75"
                                ></div>
                            </div>
                            <!-- This element is to trick the browser into centering the modal contents. -->
                            <span
                                class="hidden sm:inline-block sm:align-middle sm:h-screen"
                            ></span
                            >​
                            <div
                                class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full"
                                role="dialog"
                                aria-modal="true"
                                aria-labelledby="modal-headline"
                            >
                                <form>
                                    <div
                                        class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4"
                                    >
                                        <div class="">
                                            <div class="mb-4">
                                                <label
                                                    for="exampleFormControlInput1"
                                                    class="block text-gray-700 text-sm font-bold mb-2"
                                                    >Nombre:</label
                                                >
                                                <input
                                                    type="text"
                                                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                                    id="exampleFormControlInput1"
                                                    placeholder="Ingrese nombre del producto"
                                                    v-model="form.name"
                                                />
                                            </div>
                                            <div class="mb-4">
                                                <label
                                                    for="exampleFormControlInput2"
                                                    class="block text-gray-700 text-sm font-bold mb-2"
                                                    >Precio:</label
                                                >
                                                <input
                                                    type="price"
                                                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                                    id="exampleFormControlInput2"
                                                    v-model="form.price"
                                                    placeholder="Ingrese precio del producto"
                                                />
                                            </div>
                                            <div class="mb-4 flex">
                                                <label
                                                    for="exampleFormControlInput2"
                                                    class="flex-grow w-16 block text-gray-800 text-sm font-bold"
                                                    >Comisiones</label
                                                >
                                            </div>
                                            <div class="mb-4 flex items-center">
                                                <label
                                                    for="exampleFormControlInput2"
                                                    class="flex-grow w-16 block text-gray-700 text-sm font-bold"
                                                    >Nivel 0:</label
                                                >
                                                <input
                                                    type="price"
                                                    class="flex-grow shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                                    id="exampleFormControlInput2"
                                                    v-model="
                                                        form.commissions.level0
                                                    "
                                                    placeholder="Ingrese precio del producto"
                                                />
                                            </div>
                                            <div class="mb-4 flex items-center">
                                                <label
                                                    for="exampleFormControlInput2"
                                                    class="flex-grow w-16 block text-gray-700 text-sm font-bold"
                                                    >Nivel 1:</label
                                                >
                                                <input
                                                    type="price"
                                                    class="flex-grow shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                                    id="exampleFormControlInput2"
                                                    v-model="
                                                        form.commissions.level1
                                                    "
                                                    placeholder="Ingrese precio del producto"
                                                />
                                            </div>
                                            <div class="mb-4 flex items-center">
                                                <label
                                                    for="exampleFormControlInput2"
                                                    class="flex-grow w-16 block text-gray-700 text-sm font-bold"
                                                    >Nivel 2:</label
                                                >
                                                <input
                                                    type="price"
                                                    class="flex-grow shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                                    id="exampleFormControlInput2"
                                                    v-model="
                                                        form.commissions.level2
                                                    "
                                                    placeholder="Ingrese precio del producto"
                                                />
                                            </div>
                                            <div class="mb-4 flex items-center">
                                                <label
                                                    for="exampleFormControlInput2"
                                                    class="flex-grow w-16 block text-gray-700 text-sm font-bold"
                                                    >Nivel 3:</label
                                                >
                                                <input
                                                    type="price"
                                                    class="flex-grow shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                                    id="exampleFormControlInput2"
                                                    v-model="
                                                        form.commissions.level3
                                                    "
                                                    placeholder="Ingrese precio del producto"
                                                />
                                            </div>
                                            <div class="mb-4 flex items-center">
                                                <label
                                                    for="exampleFormControlInput2"
                                                    class="flex-grow w-16 block text-gray-700 text-sm font-bold"
                                                    >Nivel 4:</label
                                                >
                                                <input
                                                    type="price"
                                                    class="flex-grow shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                                    id="exampleFormControlInput2"
                                                    v-model="
                                                        form.commissions.level4
                                                    "
                                                    placeholder="Ingrese precio del producto"
                                                />
                                            </div>
                                            <div class="mb-4 flex items-center">
                                                <label
                                                    for="exampleFormControlInput2"
                                                    class="flex-grow w-16 block text-gray-700 text-sm font-bold"
                                                    >Nivel 5:</label
                                                >
                                                <input
                                                    type="price"
                                                    class="flex-grow shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                                    id="exampleFormControlInput2"
                                                    v-model="
                                                        form.commissions.level5
                                                    "
                                                    placeholder="Ingrese precio del producto"
                                                />
                                            </div>
                                        </div>
                                    </div>
                                    <div
                                        class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse"
                                    >
                                        <span
                                            class="flex w-full rounded-md shadow-sm sm:ml-3 sm:w-auto"
                                        >
                                            <button
                                                wire:click.prevent="store()"
                                                type="button"
                                                class="inline-flex justify-center w-full rounded-md border border-transparent px-4 py-2 bg-green-600 text-base leading-6 font-medium text-white shadow-sm hover:bg-green-500 focus:outline-none focus:border-green-700 focus:shadow-outline-green transition ease-in-out duration-150 sm:text-sm sm:leading-5"
                                                v-show="!editMode"
                                                @click="save()"
                                            >
                                                Save
                                            </button>
                                        </span>
                                        <span
                                            class="flex w-full rounded-md shadow-sm sm:ml-3 sm:w-auto"
                                        >
                                            <button
                                                wire:click.prevent="store()"
                                                type="button"
                                                class="inline-flex justify-center w-full rounded-md border border-transparent px-4 py-2 bg-green-600 text-base leading-6 font-medium text-white shadow-sm hover:bg-green-500 focus:outline-none focus:border-green-700 focus:shadow-outline-green transition ease-in-out duration-150 sm:text-sm sm:leading-5"
                                                v-show="editMode"
                                                @click="update(form)"
                                            >
                                                Update
                                            </button>
                                        </span>
                                        <span
                                            class="mt-3 flex w-full rounded-md shadow-sm sm:mt-0 sm:w-auto"
                                        >
                                            <button
                                                @click="closeModal()"
                                                type="button"
                                                class="inline-flex justify-center w-full rounded-md border border-gray-300 px-4 py-2 bg-white text-base leading-6 font-medium text-gray-700 shadow-sm hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue transition ease-in-out duration-150 sm:text-sm sm:leading-5"
                                            >
                                                Cancel
                                            </button>
                                        </span>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </app-layout>
</template>
<script>
import AppLayout from "@/Layouts/AppLayout";

export default {
    components: {
        AppLayout
    },
    props: {
        products: {
            type: Array,
            default: () => {
                [];
            },
            required: true
        },
        errors: {
            type: Object,
            default: () => {
                [];
            }
        }
    },
    data() {
        return {
            editMode: false,
            isOpen: false,
            form: {
                name: null,
                price: null,
                commissions: {
                    level0: null,
                    level1: null,
                    level2: null,
                    level3: null,
                    level4: null,
                    level5: null
                }
            },
            file: "",
            pageSize: 3,
            currentPage: 1
        };
    },

    methods: {
        openModal: function() {
            this.isOpen = true;
        },
        closeModal: function() {
            this.isOpen = false;
            this.reset();
            this.editMode = false;
        },
        reset: function() {
            this.form = {
                name: null,
                price: null,
                commissions: {
                    level0: null,
                    level1: null,
                    level2: null,
                    level3: null,
                    level4: null,
                    level5: null
                }
            };
        },
        save: function() {
            this.$inertia.post("/dashboard/products", this.form);
            this.reset();
            this.closeModal();
            this.editMode = false;
        },
        edit: function(data) {
            console.log(data);
            this.form = Object.assign({}, data);
            this.editMode = true;
            this.openModal();
        },
        update: function(data) {
            data._method = "PUT";
            this.$inertia.post("/dashboard/products/" + data.id, data);
            this.reset();
            this.closeModal();
        },
        deleteRow: function(data) {
            if (!confirm("Are you sure want to remove?")) return;
            data._method = "DELETE";
            this.$inertia.post("/dashboard/products/" + data.id, data);
            this.reset();
            this.closeModal();
        },
        nextPage: function() {
            if (this.currentPage * this.pageSize < this.cats.length)
                this.currentPage++;
        },
        prevPage: function() {
            if (this.currentPage > 1) this.currentPage--;
        }
    }
};
</script>
